th.text-left {
    padding: 12px 2px 12px 2px;
}
div.text-center.mon {
    padding: 0px;
}

/* input.text-wrap.text-right.mon.form-control.form-control.sm{
    display: inline !important ;
    padding: 0px;
} */
