.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    min-height: 500px;
}

.dropdown:hover .dropdown-content {
    display: contents;
}

.img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #512da8;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.icon {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    background: green;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
